<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- LOCAL DEV API CONNECTION -->
     <add key="webapiurl" value="http://localhost:5220/"/>

    <!-- STAGING API CONNECTION -->
    <!--<add key="webapiurl" value="http://192.168.1.52:5220/" />-->

    <!-- PRODUCTION API CONNECTION -->
    <!--<add key="webapiurl" value=""/>-->

    <!-- **************** Encrypt Key ******************** -->
    <!--// 1 for Annonimous cert -->
    <add key="IsUntrustCertificate" value="1" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>